- R as a calculator
- Creating, listing and deleting the objects
- Data Generation
- Accessing the values of an object
- Operators

# Operators and Variables in R

In [ ]:
# Math Operator:

# (+) Addition
# (-) Subtraction
# (*) Multiplication
# (/) Division
# (** or ^) power
# -------------------------
# Logical Operators:
  
# (==) Equal to 
# (!=) Not equal to
# (<) Less than
# (>) Greater than
# (<=) Less than or equal to
# (>=) Greater than or equal to
# (&) Logical AND
# (|) Logical OR
# is.na(x) missing value

# Variables:

# 1) Numeric Variable
# 2) Character Variable

In [12]:
2+3
5**2
5^3
6/3

[1] 5

[1] 25

[1] 125

[1] 2

In [13]:
# Modular airthmatic
32%%5

[1] 2

## Assignment operator <-

In [ ]:

a <- 5
a
b=10
b
15 -> c
c
b

x<-y<-12
x
y
b=20
b
class(a)
is.numeric(b)

In [ ]:
ls()

In [ ]:
rm(y)

In [ ]:
# Character Variable
ab<-'Dhaka'
ab
class(ab)
is.character(ab)
is.numeric(ab)

In [ ]:
# Logical Operators
x<-3
y<-7
x > y
x < y
x > 10
x < 100

In [ ]:
# List of variables
ls()
# Remove a variable
rm(c)
ls()
c

In [ ]:
# Case-sensitivity
book<-"Arithmetics"
book
BOOK

In [ ]:

# Math Functions:
# log(x), log10(x), exp(x), sin(x), min(x), max(x), range(x)

log(10)
log(100)
log10(100)

sin(5)

variable<-180
sin(variable)
max(100)


max(10, 15, 6, 0)
min(15, 0, .5, 60)
range(10)

In [ ]:

# Statistical Function
# mean(x), sd(x), var(x), median(x), quantile(x,p)

x<-c(3, 4, 5, 6, 7)
x
quantile(x, .5)

In [ ]:
# Recall and correction from previous command

x<-rnorm(5)
x

y<-rnorm(10)
y

# Vectors in R

In [ ]:
# 1) "c" function (c=concatenate):
c()

In [14]:
# a) Numeric vector
x <- c(5, 7, 2, 3, 5)
x
x[0]
x[2]
x[1]
x[3]

[1] 5 7 2 3 5

numeric(0)

[1] 7

[1] 5

[1] 2

In [ ]:
# b) Character vector 
y <- c("mango", "orange")
y

In [ ]:
# c) Logical vector
z <- c(T, F, T)

In [ ]:
# Question: Create a vector containing 3, 4, 5, 6, 7 and store it in y
y <- c(3, 4, 5, 6, 7)
y

In [ ]:
# 2) "seq" function(seq=sequential):
  y <- 1:10
y  
z <- 20:50
z
seq(1, 10)
seq(1, 10, 2)
seq(30, 60, 5)

In [22]:
sequence(c(3,5,7))

 [1] 1 2 3 1 2 3 4 5 1 2 3 4 5 6 7

In [23]:
gl(3,4,length=20)

 [1] 1 1 1 1 2 2 2 2 3 3 3 3 1 1 1 1 2 2 2 2
Levels: 1 2 3

In [ ]:
# Question: Generate a sequence -4 to 4 which 1 increament.
seq(-4, 4)

seq(-3, 3, .5)

In [16]:
# "rep" function(rep=replicate)
x<-rep(1, 10)
x
y<-rep(1:3, 5)
y

 [1] 1 1 1 1 1 1 1 1 1 1

 [1] 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3

In [18]:

a<-c(7,8,9)
a
rep(a, 5)

[1] 7 8 9

 [1] 7 8 9 7 8 9 7 8 9 7 8 9 7 8 9

In [19]:
rep(a, 1:3)
b<-c(1, 2, 3, 4, 5, 6, 7)
b
rep(b, 1:7)

[1] 7 8 8 9 9 9

[1] 1 2 3 4 5 6 7

 [1] 1 2 2 3 3 3 4 4 4 4 5 5 5 5 5 6 6 6 6 6 6 7 7 7 7 7 7 7

In [ ]:
rep(1:2, c(3, 5))
rep(5:6, c(2, 4))

rep(1:2, each=10)
rep(3:5, each=5)

y <- c(1, 2, 3, 4, 5, 6, 7, 8)
y

In [ ]:
# 1) Find the length of y?
length(y)

In [ ]:

# 2) Include, 10, 12, 14 in y and store it in x?
x <- c(y, 10, 12, 14)
x

In [ ]:
# 3) Find all but the 8th element of x OR remove the 8th element of x.
x
x[-8]

In [ ]:
# 4) Find the 5th element of y.
y
y[5]
x
x[10]

In [ ]:
# 5) Find 1st, 2nd and 3rd elements of x.
x <- c(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
x
x[1:3]

x[5:10]

In [ ]:

# 6) Find 1st, 5th and 9th elements of x,
x[c(1, 5, 9)]

In [ ]:

# 7) Replace 1st element by 9 of x.
x[1] = 9
x
x[1] <- 8
x

In [ ]:
# 8) Replace 2nd element by (2nd element)^2 +1 of x.
x[2] <- x[2]^2 + 1
x

In [ ]:
# 9) Replace each of the 1st threee element  by 8 of x.
x[1:3]
x[1:3] <- 8
x

In [ ]:
# 10) Replace 7th, 10th, 11th element by 30, 40, 50 OR include 30, 40, 50 to the positon 7th, 10th, 11th of x.
x[c(7, 10, 11)] <- c(30, 40, 50)
x

x[10:12] <- c(60, 70, 80)
x

In [ ]:
# 11) Replace 10th to 15th elements by 20 to 25 of x.
x <- 1:20
x
x[10:15]
x[10:15] <- 20:25
x

In [15]:
# 11) 2) Replace 10th to 15th elements by 20 to 30 with increament 2 of x.
x <- seq(1, 20)
x

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
x[10:15] <- seq(20, 30, 2)
x
# 12) Replace each of the 2nd, 4th and 6th elements by 3 of x.
x[c(2, 4, 6)] <- 3
x

In [ ]:
# 13) Replace 3rd, 5th, 8th elements byh 20, 30, 40 of x.
x[c(3, 5, 8)] <- c(20, 30, 40)
x

In [ ]:
# 14) Replace by 36 where all values of x greater than 18.
x
x[x>18] <- 36
x

In [ ]:
# 15) Show last nine values.
x <- 1:20
x
n <- length(x)
n
m <- x[(n-8):n]
m

In [ ]:
# 16) Find reverse vector of x
rev(x)

In [ ]:
# 17) Find total, mean (average), median, standard deviation, log10(x), log(x) of x and also find mean deviation.

sum(x)
mean(x)

average <- sum(x)/length(x)
average

In [ ]:

# sum(seq(1,10))


median(x)

log(x)
log10(x)

In [ ]:

## Mean Deviation = (summation | xi - mean of x|)/n
md <- sum(abs(x - mean(x)))/length(x)
md

In [ ]:
# 18) Find skewness, kurtosis and co-efficient of variation (cv) of x.
n <- length(x)
n
mu2 <- sum((x - mean(x))^2)/n
mu3 <- sum((x - mean(x))^3)/n
mu4 <- sum((x - mean(x))^4)/n
beta1 <- mu3^2/mu2^3
beta1
beta2 <- mu4/mu2^2
beta2

cv <- (sd(x) / mean(x)) ** 100
cv

In [ ]:
# 19) Create a vector using 1, 2, .... 10, 10, 10, 10, 11, 13, .... 99, 100, 101, 102, .... 109 and assign it to z.
 z <- c(1:10, rep(10, 3), seq(11, 99, 2), 100:109)
z

In [ ]:
# 20) First 20 elements of z assign to x1 and 2nd 20 elements of z assign to x2.
x1 <- z[1:20]
x1
x2 <- z[21:40]
x2

In [ ]:
# 21) Draw a random sample of size 100 with mean 10 variance 20 and round it upto 3 decimal places.
s <- rnorm(100, 10, 20)
s
round3 <- round(s, 3)
round3

In [20]:
# library(dplyr)
# iris

In [21]:
# library(ggplot2)
# ggplot(data=iris, aes(x=Sepal.Length, y=Sepal.Width, color=Species)) + geom_point(size=3)